# WebStorm configuration file.
.idea/*

# Ignore VSCode configuration file.
# .vscode/*

# Ignore, Node.js dependency
node_modules/*
package-lock.json

# Ignore, .map file
/json/toss.js.map
app.js.map
